body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(255, 255, 179);
  /*background: rgb(1, 1, 37);*/
  background: url(../Styles/images/landscapestars.jpg);
  background-size: cover;
  height: 100vh;
}

nav {
  background: rgba(5, 5, 104, 0.659);
  max-width: 100%;
  height: auto;
}

.logo {
  font-size: 20px;
  line-height: 70px;
  margin: 0 15px;
}

nav li{
    float: right;
    display: inline-block;
    margin-right: 12px;
    margin-top: 8px;
    list-style-type: none;  
}

#starlogo {
    width: 40px;
    margin: 0 0 -14px -14px;
  }
  
