body {
  font-family: "Times New Roman", Times, serif;
  background: rgb(160, 202, 239);
  background-size: cover;
  height: 100vh;
}

nav {
  background: rgba(205, 130, 233, 0.5);
  height: 70px;
  width: 100%;
}

.logo {
  color: rgb(5, 5, 104);
  font-size: 35px;
  font-weight: bold;
  line-height: 80px;
  /*background-color: azure;*/
  margin: 0 15px;
  /*padding: 10px, 30px;*/
}

nav ul {
  float: right;
  margin-right: 40px;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}

nav ul li a {
  font-size: 22px;
  color: rgb(5, 5, 104);
  text-decoration: none;
}

a.active {
  background: rgb(160, 202, 239);
  /*color: white;*/
  padding: 5px 18px;
  border-radius: 50px;
}

#logo {
  width: 33px;
  margin: 0 0 -5px -5px;
}

.burger-button {
  font-size: 30px;
  color: rgb(5, 5, 104);
  float: right;
  margin-right: 40px;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 700px) {
  .burger-button {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    background-color: rgba(5, 5, 104, 0.419);
    /*backdrop-filter: blur;*/
    height: 100vh;
    text-align: center;
    top: 60px;
    left: -120%;
    transition: all 1s;
  }

  nav ul li {
    display: block;
    padding: 30px 0px;
  }

  nav li a {
    font-size: 25px;
    color: rgb(5, 5, 104);
    text-transform: uppercase;
  }

  #check:checked ~ ul {
    left: 0;
  }
}
